{% extends 'base.html' %}
{% block title %} Сменить пароль {% endblock %}
{% block content %}
    <div class="row justify-content-center">
        <div class="col-md-8 p-5">
            <div class="card">
                <div class="card-header">
                    Изменить пароль
                </div>
                <div class="card-body">
                    {% include 'includes/auth.html' %}
                    <div class="col-md-6 offset-md-4">
                        <button type="submit" class="btn btn-primary">
                            Изменить пароль
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}